body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    backdrop-filter: blur(2px);
}

.overlay {
    background: rgba(255,255,255,0.1);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 16px;
    width: 50%;
    max-height: 75%;
}

.close-modal {
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}